* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 1.125rem;
    color: hsl(0, 0%, 8%);
}

div.container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 5rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.left-header {
    display: flex;
    gap: 3rem;
    align-items: center;
}

nav.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}


div.right-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links span {
    display: inline-block;
    transform: rotate(90deg);
}

.register {
    border: 2px solid hsl(0, 0%, 8%);
    padding: .5rem 1rem;
    border-radius: 15px;
}

main {
    display: flex;
    gap: 5rem;
    padding-inline: 5rem;
}



section.right-section img {
    display: block;
    width: 550px;
}

section.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    background-color: hsl(0, 0%, 8%);
    color:  hsl(0, 0%, 98%);
    padding: .8em 1.2em;
    border-radius: 10px;
    width: fit-content;
    font-weight: 500;
    font-size: .9rem;
}

div.hero-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block: auto;
  
}



div.sponsors {
    display: flex;
    gap: 2rem;
    align-items: center;
}